%h1 Editing group
- form_for(@group) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :user_id
    %br/
    = f.text_field :user_id
  %p
    = f.submit 'Update'
= link_to 'Show', @group
|
\#{link_to 'Back', groups_path}
