- if @water_point.lat && @water_point.lng && @water_point.lng
  - @gps = :true
  - @title = t('.title_gps')
- else
  - @gps = nil
  - @title = t('.title_no_gps')
.maptitle
  - if @gps
    %h2= t('.subtitle_gps')
  - else
    %h2= t('.subtitle_no_gps')
.preview.bluelinetop.bluelinebottom
  .previewtitle= t('.preview')
  .previewimg
    = photo_for @water_point, :medium
  .previewtext
    %span.wp_result_title= link_to h(@water_point.title), @water_point
    %br/
    = h(@water_point.note)
  %br{:clear => "both"}/
- form_for(@water_point, :html => { :multipart => true }) do |f|
  = f.error_messages
  %input{:name => "water_point[confirmed]", :type => "hidden", :value => "1"}/
  = f.hidden_field :lat
  = f.hidden_field :lng
  = #f.text_field :lat
  = #f.text_field :lng
  .row
    = f.label :title
    = f.text_field :title
  .row
    = f.label :note
    = f.text_area :note, :cols =>40, :rows =>4
  .row
    %span.notify
      = check_box_tag :notify, 1, (true unless (params[:water_point] && params[:notify].blank?))
      = f.label :notify
      = t('water_points.new.when_somebody_posts')
  .row
    %span.upload
      = label :water_point, :photo
      = t('water_points.new.your_wp_photo')
    %span.hint
      = t('water_points.new.hint')
      %br/
      = t('water_points.new.if_gps')
      = file_field_tag :photo_file
  %span.submit
    = f.submit t('.submit')
